/Q10KeyValueSeparately.class
/Q1Studentdata.class
/Q2SearchStudentMark.class
/Q3CharacterFrequency.class
/Q4WordFrequency.class
/Q5EmployeeSalary.class
/Q6ProductPrice.class
/Q7CheckKey.class
/Q8SizeOfMap.class
/Q9Remove.class
